PORT=8787
ORIGIN_SIZE=256
SIGN_N=5
SIGN_MODE=S
SIGN_HASH=SHA-256
CONTENT_BYTES=32
LOG_REQUESTS=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=ulda
DB_PASSWORD=ulda
DB_NAME=ulda
DB_POOL_LIMIT=10

DB_DOCKER_ENABLE=true
DB_DOCKER_IMAGE=mysql:8.0
DB_DOCKER_CONTAINER=ulda-mysql
DB_DOCKER_VOLUME=ulda_mysql
DB_DOCKER_ROOT_PASSWORD=ulda_root
